@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

@font-face {
  font-family: "WOPR";
  src: url("/assets/fonts/wopr-tweaked.ttf");
}

:root {
  --color:#5785b7
  --bg: #05321e;
  --off: #050505;
  --dark: #111;
}

/* * {
  border: 1px solid blue;
} */

#sudoku-container {
  position: absolute;
  left: var(--envelope-margin);
  top: var(--envelope-margin);
  right: var(--envelope-margin);
  bottom: var(--envelope-margin);

  z-index: 40;
  border-radius: calc(var(--base-unit) / 2);
  background: var(--envelope-background);
  animation: skew 5s linear infinite;
  /* text-align: center; */
} 

#sudoku {
  z-index: 10;
  font-family: "WOPR";
  font-size: 16px;

  position: relative;
  height: 100%;
  padding: 1rem 2rem 2rem 2rem;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;
}

#sudoku h1 {
  text-align: center;
  font-size: 20px;
}

#puzzle-container {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#row-wrapper {
  width: 440px;
  height: 380px;
  position: relative;
  left: -10px;
}

#row-numbers-container {
    width: 100%;
    height: 20px;
    opacity: 30%;
    animation: fadeIn30 5s;
}

#row-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    margin-left: 30px;
    gap: 10px;
}

#column-wrapper {
    width: 430px;
    height: 350px;
    position: relative;
    display: flex;
  }

#column-numbers-container {
    width: 30px;
    height: 350px;
    opacity: 30%;
    animation: fadeIn30 5s;
}

#column-numbers {
    width: 20px;
    height: 305px;
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

#sudoku-board-container {
    width: 100%;
    height: 350px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#sudoku-board-background {
    width: 95%;
    height: 85%;
    position: relative;
    top: 28px;
    left: 10px;  
    /* border: 1px solid red; */
}

#sudoku-board {
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(9, auto);
  row-gap: 10px;
  column-gap: 12px;
  background-color: transparent;
  animation: fadeIn100 5s;
}

.sudoku-square {
  width: 31px;
  height: 25px;
  /* border: dashed 1px var(--color); */
  text-align: center;
  padding-top: 8px;
  padding-left: 1px;
  opacity: 70%;
  /* animation: fadeIn70 5s; */
}

.square-editable {
  animation: cursor-editable 1s infinite;
}

.square-non-editable {
  animation: cursor-non-editable 1s infinite, border-pulse 4s ease-in-out infinite;
}

.given {
    pointer-events: none;
    /* animation: fadeIn100 5s; */
    opacity: 100%;
}

.hidden {
  opacity: 0% !important;
  animation: none;
}

@keyframes fadeIn30 {
  0% { opacity: 0%; }
  100% { opacity: 20% !important; }
}

@keyframes fadeIn100 {
  0% { opacity: 0%; }
  100% { opacity: 100% !important; }
}

.sudoku-game-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
} 

button {
  height: 30px;
  width: 180px !important;
  color: var(--color);
  background-color: transparent;
  padding: 4px 0px 0px 3px;
  font-family: "WOPR";
  font-size: 18px;
  text-align: center;

  border-color: var(--color);
  border-style: dashed;

  transition: border 0.5s ease;
  animation: textShadow 4s infinite, border-pulse 4s ease-in-out infinite;
}

button[disabled] {
  opacity: 50%;
} 

.small {
  width: 100px !important;
}

#winningMessage {
  height: 25px;
  padding-top: 0px;
  text-align: center;
}

@keyframes cursor-editable {
  0% {
    color: var(--color);
    border: 1px dashed #6aa4e3;
  }
  25% {
    color: transparent;
    border: none;
  }
  75% {
    color: var(--color);
    border: 1px dashed #6aa4e3;
  }
  100% {
    color: var(--color);
    border: 1px dashed #6aa4e3;
  }
}

@keyframes cursor-non-editable {
  0% {
    color: var(--color);
    border-bottom: 1px dashed #6aa4e39a;
  }
  25% {
    color: transparent;
    border-bottom: none;
  }
  75% {
    color: var(--color);
    border-bottom: 1px dashed #6aa4e39a;
  }
  100% {
    color: var(--color);
    border-bottom: 1px dashed #6aa4e39a;
  }
}

@keyframes border-pulse {
  0% {
     border-color: #6aa4e3;
  }
  50% {
     border-color: #43668b;
  }
  100% {
     border-color: var(--color);
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

