#envelope {
  position: absolute;
  left: var(--envelope-margin);
  top: var(--envelope-margin);
  right: var(--envelope-margin);
  bottom: var(--envelope-margin);

  z-index: 40;
  border-radius: calc(var(--base-unit) / 2);
  background: var(--envelope-background);
  animation: skew 5s linear infinite;
}

@keyframes skew {
  0% {
    transform: skewX(0.5deg);
  }

  8% {
    transform: skewX(1deg) scale(1.0001);
  }

  15% {
    transform: skewX(0.6deg) skewY(-0.05deg);
  }

  30% {
    transform: skewX(0.6deg);
  }

  100% {
    transform: skewX(0.1deg);
  }
}
