footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

footer > p,
a {
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: rgb(69, 69, 69);
  text-decoration: none;
}
