.imsai {
  height: 100%;
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imsai > p {
  margin-top: 10px;
  font-size: 14px;
  opacity: 50%;
}
