#scanline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--base-unit);
  opacity: 0.1;
  background: var(--scanline-background);
  animation: scanline 1.25s linear infinite;
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}
